---
const { data } = Astro.props;
---

<article class="smallProduct">
  <img src=`https://kea-alt-del.dk/t7/images/webp/640/${data.id}.webp` alt="product image" />
  <h3>{data.productdisplayname}</h3>
  <p>{data.articletype}</p>
  <p>{data.brandname}</p>
  <p>{data.price} Kr.</p>

  <a href="product.html">Read More</a>
</article>
