---
const { data } = Astro.props;
---

<article class="smallProduct">
  <img src=`https://kea-alt-del.dk/t7/images/webp/640/${data.id}.webp` alt="product image" />
  <h3>{data.productdisplayname}</h3>
  <p>{data.articletype}</p>
  <p>{data.brandname}</p>
  <p>DKK <span class={data.discount ? "onsale" : "fullprice"}> {data.price}</span></p>
  {data.discount &&
  <p>Now DKK {data.price - (data.discount * data.price) / 100},-</p>
  <p>-{data.discount}%</p>}
  <a href={`../product/${data.id}`}>Read More</a>
</article>

<style>
  .onsale {
    text-decoration: line-through;
    color: orange;
  }
  .fullprice {
    color: green;
  }
</style>
